(
  knots: [
    (
      position: (0.0, 90.0),
      interpolation: Cubic,
      left_tangent: (
        slope: 0.0,
        mode: Aligned,
        weight: None,
      ),
      right_tangent: (
        slope: 0.0,
        mode: Aligned,
        weight: None,
      ),
    ),
    (
      position: (0.0, 0.0),
      interpolation: Cubic,
      left_tangent: (
        slope: -150.91547,
        mode: Aligned,
        weight: None,
      ),
      right_tangent: (
        slope: -150.91547,
        mode: Aligned,
        weight: None,
      ),
    ),
    (
      position: (0.2425103, 2.2608676),
      interpolation: Cubic,
      left_tangent: (
        slope: -21.955345,
        mode: Aligned,
        weight: Some(0.223),
      ),
      right_tangent: (
        slope: -21.955345,
        mode: Aligned,
        weight: None,
      ),
    ),
    (
      position: (0.35772237, 75.495056),
      interpolation: Cubic,
      left_tangent: (
        slope: 72.898415,
        mode: Aligned,
        weight: Some(0.64799523),
      ),
      right_tangent: (
        slope: 72.898415,
        mode: Aligned,
        weight: None,
      ),
    ),
    (
      position: (0.63801897, 81.86743),
      interpolation: Cubic,
      left_tangent: (
        slope: 15.940404,
        mode: Aligned,
        weight: None,
      ),
      right_tangent: (
        slope: 15.940404,
        mode: Aligned,
        weight: None,
      ),
    ),
    (
      position: (0.7576031, 148.87796),
      interpolation: Cubic,
      left_tangent: (
        slope: -16.891134,
        mode: Aligned,
        weight: None,
      ),
      right_tangent: (
        slope: -16.891134,
        mode: Aligned,
        weight: None,
      ),
    ),
    (
      position: (0.9974476, 152.24408),
      interpolation: Cubic,
      left_tangent: (
        slope: -36.101994,
        mode: Aligned,
        weight: None,
      ),
      right_tangent: (
        slope: -36.101994,
        mode: Aligned,
        weight: None,
      ),
    ),
  ],
  name: Some("Continentallness"),
)